/* .meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

.infoWindow {
  margin: 0 auto; /*FOR HORIZONTAL CENTER */
  /* max-width: 150px;
  max-height: 20px; */
  /* position: relative; */
  height: auto;
  width: 25vw;

  background-color: rgba(0, 0, 0, 0.4);
  /* border-radius: 2em; */
  box-shadow: black;
  color: white;
  padding: 2em;
}
